<div class="min-h-full min-h-screen {{if isDay "bg-blue-500" "bg-gray-900"}} flex justify-start items-start sm:items-center sm:justify-center">
  {{#link-to "cities"}}
    {{back-button}}
  {{/link-to}}
  <div class="w-full flex flex-wrap">
    <div class="w-full">
      <div class="sm:ml-0 md:ml-8 first:ml-0 flex justify-start sm:justify-center">
        <Card @city={{city}}>
          <div class="flex flex-row flex-wrap sm:flex-no-wrap  justify-start sm:justify-center">
            {{#each filteredHourlyWeathers as |hour|}}
              <HourlyWeather  @hour={{hour}}/>
            {{/each}}
          </div>
        </Card>
      </div>
    </div>
  </div>
</div>